<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>webapiUI</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">

</head>
<body>
<ul class="nav">
    <li class="nav-item">
        <div class="head nav-link active text-white" href="#">MoTE ML Studio</div>
    </li>
</ul>
<div class="wrapper">
    <div class="sidebar">
        <ul>
            <li class="side-items item1">
                <a href="upload-ds.html">Upload Dataset
                </a>
            </li>

            <li class="side-items">
                <a href="fs.html">Feature Selection</a>
            </li>

            <li class="side-items">
                <a href="#">Encoding and Scaling</a>
            </li>

            <li class="side-items">
                <a href="#">Model Selection</a>
            </li>

            <li class="side-items">
                <a href="#">Results</a>
            </li>
        </ul>
    </div>
    <div class="content">
        <div class="form-wrapper">
        {% block body %}
        {% endblock %}
        </div>
    </div>

</div>
<script src="js/bootstrap.js"></script>
</body>
</html>