{% extends 'home/base1.html' %}
{% block body %}
    <form id="msform" method="post" enctype="multipart/form-data">
    {% csrf_token %}
      <!-- progressbar -->
      <ul id="progressbar">
        <li class="active">Dataset Upload</li>
        <li>Feature Selection</li>
        <li>Data Processing</li>
        <li>Model Selection</li>
        <li>Result</li>
      </ul>
      <!-- fieldsets -->
      <fieldset>
        <h2 class="fs-title">Upload Your Dataset</h2>
        <h3 class="fs-subtitle">This is step 1</h3>
        <input type="file" name="dataset" />
        <input type="submit" class="next action-button" value="Next"/>
      </fieldset>
    </form>
{% endblock %}